#Phalyfusion config

plugins:
    usePlugins:
        - phan
        - phpstan
        - psalm
    phan: phan wtf kek -key -key2 -ololo
    phpstan: phpstan wtf kek -key -key2 -ololo
    psalm: psalm wtf kek -key -key2 -ololo
#
#    phpstan:
#        bin: phpstan -e --config=/path/to/myconfig.php
#
#    phan:
#        bin: /usr/local/phan -S


#php:
#	date.timezone: Europe/Prague
#	zlib.output_compression: true  # use gzip
#
#database:
#	driver: mysql
#	username: root
#	password: beruska92
#
#users:
#	- Dave
#	- Kryten
#	- Rimmer